*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

header{
    background-image: url(../img/header-bg.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}



/* .container{
    
} */

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        margin: 0.8rem 5.7rem;
        h1{
            color: yellow;
            font-style: italic;
            font-size: 30px;
        }
    }


    .navbar{
        ul{
            display: flex;
            justify-content: space-between;
            width: 30rem;
            margin: 0.8rem 9rem;
            
            li{
               padding: 1rem;
               a{
                color: white;
               }
               a:hover{
                color: yellow;
               }
            }
        }
    }
}

.header-bottom{
    text-align: center;
    margin: 6rem;
    padding: 6rem;
    p{
        font-size: 2.25rem;
        color: white;
        font-style: italic;
        margin-bottom: 2rem;
    }
    h1{
        font-size: 4.5rem;
        color: white;
        margin-bottom: 4rem;
    }

    a{
        color: white;
        padding: 1.5rem 3rem;
        background-color: #ffc800;
        border-radius: 5px;
        font-size: 1.1rem;
        font-weight: 700;
    }
}

main{
    .container{
        margin-left: 8%;
        margin-right: 8%;
        
    }
}

.services-top{
    text-align: center;
    margin-top: 5rem;

    h1{

    }

    p{
        padding-top: 1rem;
    }
    
}



.services-bottom{
    display: flex;
    margin-top: 4rem;


    .service-card{
        /* width: 40%; */
        text-align: center;
        margin-left: 10px;
        padding: 10px;
        i{
            color: #ffc800;
            font-size: 70px;
            padding-bottom: 1rem;
        }
        h2{
            padding-bottom: 1rem;
        }
        p{
            font-size: 18px;
            font-weight: 200;
        }
    }
}


.portfolio-top{
    text-align: center;
    margin-top: 5rem;
    padding-top: 5rem;
}

.portfolio-top p{
    padding-top: 10px;
}

.portfolio-bottom{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.portfolio-bottom .card{
    width: 400px;
    overflow: hidden;
    margin-left: 1.5rem;
    text-align: center;
}


.portfolio-bottom .card img{
    width: 100%;
}


